.list-page {
    display: grid;
    grid-template-areas:
      "side main main main main"
      "side main main main main"
      "side main main main main";
    height: 100vh;
  }
  
  .list-page aside {
    grid-area: side;
    background-color: rgba(81, 1, 185, 0.863);
    text-align: center;
    padding-top: 60px;
    box-shadow: rgba(0, 0, 0, 0.168) 8px 3px 20px;
  }
  
  .list-page aside div {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
  }
  .list-page aside h2 {
    color: white;
  }
  .list-page aside input {
    padding: 10px;
    width: 70%;
    max-width: 400px;
    margin-left: 85px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: black;
    margin-top: 10px;
  }
  
  .list-page aside label {
    padding-left: 26px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
  
  .list-page main {
    grid-area: main;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
  

  .goback {
    box-shadow: rgba(0, 0, 0, 0.226) 8px 3px 20px;
    border-radius: 30px;
    width: 50px;
    caret-color: transparent;
    background-color: rgba(187, 187, 187, 0.863);
    color: white;
  }
  .goback:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 15px 5px 15px;
  }
  
  .goback:focus,
  .goback:focus-visible {
    outline: 4px auto;
  }
  
.message{
    margin-top: 160px;
    padding: 40px 60px;
    background-color: rgb(47, 47, 47);
    color: white;
    border-radius: 10px;
    font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.651) 4px 6px 15px;
  text-align: center;
  caret-color: transparent;

}
  .list-page main h1 {
    text-align: center;
    margin-bottom: 80px;
    color: white;
    font-size: 60px;
  }
  
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 900px);
    gap: 80px;
    align-items: center;

  }

  

  .list .userpic{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
  }


  .list .userpic h3 {
    align-items: center;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  

  .list .userpic img {
    width: 50px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.137) 15px 5px 15px;
    border-radius: 50px;
    caret-color: transparent;
    cursor: pointer;
  }
  
  .list .userpic img:hover {
    background-color: rgb(216, 165, 250);
    box-shadow: rgba(0, 0, 0, 0.24) 15px 5px 15px;
  }
  
  .list .userpic img:focus,
  .list .userpic img:focus-visible {
    outline: 4px auto;
  }


  .list article {
    padding: 20px 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    background-color: rgb(47, 47, 47);
    border-radius: 20px;
    text-align: center;
  }
  .list article:hover {
    padding: 10px 25px;
    background-color: rgba(38, 1, 141, 0.26);
    box-shadow: rgba(0, 0, 0, 0.24) 15px 5px 15px;
  }


  .list article:focus,
  .list article:focus-visible {
    outline: 4px auto;
  }


  .list img {
    width: 100%;
    margin-top: 15px;
  }
  
  .list p {
    font-size: 16px;
    text-align: center;
    padding: 10px;
    color: rgb(228, 228, 228);
  }
  
  .title{
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 0;
  }

  .topics {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    font-weight: 600;
  }
  
  .topics button {
    background-color: rgb(47, 47, 47);
    color: white;
    font-weight: bold;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    transition: border-color 0.25s;
    box-shadow: rgba(0, 0, 0, 0.171) 0px 3px 15px;
    caret-color: transparent;

  
  }
  
  .topics button:hover {
    background-color: rgba(110, 110, 110, 0.863);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }