*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}


body{
  background-color: rgb(87, 87, 87);
}


.nav-container{
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  background-color: rgb(44, 44, 44);
  box-shadow: rgba(0, 0, 0, 0.363) 15px 5px 15px;

}

.nav-logo {
  width: 240px;
  color: blueviolet;
  margin-top: 10px;
}

.nav-links{
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;

}

.nav-links li {
  background-color: rgba(74, 3, 116, 0.848);
  box-shadow: rgba(0, 0, 0, 0.082) 15px 5px 15px;
  color: white;
  padding: 10px;
  margin: 8px;
  border-radius: 15px;
  cursor: pointer;
  caret-color: transparent;
}

.nav-links li:hover {
  background-color: rgb(89, 18, 136);
  box-shadow: rgba(0, 0, 0, 0.24) 15px 5px 15px;
  color: white;
}

.nav-links li:focus,
.nav-links li:focus-visible {
  outline: 4px auto;
}


.nav-links a {
  text-decoration: none;
  font-size: 24px;
  color: white;
  font-size: 20px;
}