*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}


body{
  background-color: rgb(87, 87, 87);
}


.nav-container{
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  background-color: rgb(44, 44, 44);
  box-shadow: rgba(0, 0, 0, 0.363) 15px 5px 15px;

}

.nav-logo {
  width: 240px;
  color: blueviolet;
  margin-top: 10px;
}

.nav-links{
  display: flex;
  list-style: none;
  align-items: center;

}

.nav-links li {
  border-radius: 15px;
  cursor: pointer;
  caret-color: transparent;
}

.nav-links img {
  width: 60%;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.137) 15px 5px 15px;
  border-radius: 35px;
}

.nav-links img:hover {
  background-color: rgb(216, 165, 250);
  box-shadow: rgba(0, 0, 0, 0.24) 15px 5px 15px;
}

.nav-links li:focus,
.nav-links li:focus-visible {
  outline: 4px auto;
}


.nav-links a {
  text-decoration: none;
  font-size: 24px;
  color: white;
  font-size: 20px;
}